<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>lesson_5</title>
</head>
<body>
    <div class="oop">
        <h2>{{ name }}</h2>
        <h2>{{ text }}</h2>
        <h3 v-if='!cek'>{{ sayHello()}}</h3>
        <button @click='cek=!cek'>Жмякай</button>
        <a :href="link">Yandex</a>
        <button v-on:click='counter++'>добавить</button>
        <button @click='counter--'>Убрать</button>
        <button @click='increace(3)'>добавить 3</button>
        <p>{{counter}}</p>
        <p>{{ counter>10 ? 'Больше 10' : 'Меньше 10'}}</p>

        <h2 v-if='show'>Меня видно</h2>
        <h2 v-else='show'>Меня не видно</h2>
        <button @click='show=!show'>чпоньк</button>

        <p @mousemove='coordinates()'>etot tekst vidno v coordinatah {{ x }} / {{ y }}
            <span @mousemove.stop> no move mosuse</span>
        </p>

        <input type="text" v-model='name'>
        <input type="text" v-model.lazy='text'>

        <div v-html='sis'></div>
        <div class="products">
            <div v-for='product of products' :key='product.title'>
                <img :src="product.img" alt="">
                <p>{{ product.title }}</p>
                <p>{{ product.price}}</p>
                <p>{{ product.quantity }}</p>
                <button @click='dob()'>добавить</button>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>